<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sefvi.seamarket">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name=".View.Activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.ChangeInforActivity"/>
        <activity android:name=".View.Activity.Personal.LanguageActivity" />
        <activity android:name=".View.Activity.Home.BuygroupActivity" />
        <activity android:name=".View.Activity.Home.DiscountActivity" />
        <activity android:name=".View.Activity.Home.SearchActivity" />
        <activity android:name=".View.Activity.Personal.OrderActivity" />
        <activity android:name=".View.Activity.PurchaseAreaActivity" />
        <activity android:name=".View.Activity.Personal.SettingActivity" />
        <activity android:name=".View.Activity.Home.HotActivity" />
        <activity android:name=".View.Activity.Home.SellALotActivity" />
        <activity android:name=".View.Activity.Home.ImportActivity" />
        <activity android:name=".View.Activity.Personal.VersionActivity" />
        <activity android:name=".View.Activity.Splash_Activity" />
        <activity android:name=".View.Activity.Forgot_PassWord_Activity" />
        <activity android:name=".View.Activity.SignUp_Activity" />
        <activity android:name=".View.Activity.Personal.RulesActivity" />
        <activity android:name=".View.Activity.Login_Activity" />
        <activity android:name=".View.Activity.MainActivity" />
        <activity android:name=".View.Activity.DetailProductActivity" />
    </application>

</manifest>